<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1><%= item.title %></h1>
    <p><%= item.description %></p>
    <p>Price: &#8377;<%= item.price.toLocaleString("en-IN") %></p>
    <p>Location: <%= item.location %></p>
    <p>Country: <%= item.country %></p>

    <br>
    <form action="/listings/<%= item._id %>/edit" method="GET">
        <button type="submit">EDIT</button>
    </form>
    <br><br>
    <form action="/listings/<%= item._id %>?_method=DELETE" method="POST">
        <button type="submit">DELETE</button>
    </form>

</body>
</html>