<% layout("/layouts/boilerplate") %>

<div class="row">
    <div class="col-10 offset-1">
        <br>
        <h3><%= item.title %></h3>
        
        <img src="<%=item.image.url%>" class="show-img mt-2" alt="photo of stay">
     
        <div class="show-details">

            <p><%= item.description %></p>
            <p><b>&#8377;<%= item.price.toLocaleString("en-IN") %> / night</b></p>
            <p><i class="fa-solid fa-location-dot" ></i> <%= item.location %>, <%= item.country %></p>
            <form action="/listings/<%= item._id %>/edit" method="GET" style="display:inline;" >
                <button type="submit" class="btn btn-dark add-btn col-1 m-1">Edit</button>
            </form>
            <form action="/listings/<%= item._id %>?_method=DELETE" method="POST" style="display:inline;">
                <button type="submit" class="btn btn-dark col-1 m-1">Delete</button>
            </form>
        </div>
    </div>
    <hr>
    <div class="col-8 offset-1">
        <h4 >Leave Review</h4>
        <form action="/listings/<%= item._id %>/reviews" method="POST" novalidate class="needs-validation">
             <div class="mb-3">
                <label for="rating" class="form-label">Rating:</label>
                <input type="number" name="review[rating]" placeholder="Rating (1-5)" min="1" max="5" class="form-control" required>
                <div class="invalid-feedback">Please enter a rating between 1 and 5.</div>
            </div>
            <br>
            <div class="mb-3">
                <label for="comment" class="form-label">Comment:</label>
               <textarea name="review[comment]" id="" class="form-control" required></textarea>
                <div class="invalid-feedback">Please enter a review.</div>
            </div>
            <br>
            
            <button type="submit" class="btn btn-dark add-btn col-1 m-1">Submit</button>
        </form>
            <hr>
        <h4>Reviews</h4>
        <% for(let review of item.reviews) { %>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Rating: <%= review.rating %> / 5 </h5>
                    <p class="card-text"><%= review.comment %></p>
                    </div>
                    </div>
        <% } %>
       

    </div>
</div>
